// color是被传递过来的参数
// 针对不同media的设置设置不同的程度缩放
border-1px($color)
	position:relative
	&:after
		display:block
		position:absolute
		left:0
		bottom:0
		@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5)
			border-top:(1px/1.5) solid $color
		@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2)
			border-top:(1px/2) solid $color
		@media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
			border-top:(1px/3) solid $color
		content:' '
		width:100%

dotted-2px($color)
	position:relative
	&:after
		content:""
		width:100%
		position:absolute
		bottom:0
		left:0
		@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5)
			border-top:(2px/1.5) solid $color
		@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2)
			border-top:(2px/2) solid $color
		@media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
			border-top:(2px/3) solid $color

border-none()
	&:after
		display:none

bg-image($url)
	background-image:url($url+"@2x.png")
	@media (-webkit-min-device-pixel-radio:3),(min-device-pixel-radio:3)
		background-image:url($url+"@3x.png")