icomoon-font-path ?= "../fonts"

icon-hiddenpass = "\e917"
icon-qq = "\e912"
icon-taobao = "\e913"
icon-weibo = "\e914"
icon-weixin = "\e915"
icon-zhifubao = "\e916"
icon-right = "\e911"
icon-service = "\e90b"
icon-rule = "\e90c"
icon-gift = "\e90d"
icon-wish = "\e90e"
icon-redpocket = "\e90f"
icon-gold = "\e910"
icon-add_circle = "\e900"
icon-arrow_lift = "\e901"
icon-check_circle = "\e902"
icon-close = "\e903"
icon-favorite = "\e904"
icon-keyboard_arrow_right = "\e905"
icon-remove_circle_outline = "\e906"
icon-shopping_cart = "\e907"
icon-thumb_down = "\e908"
icon-thumb_up = "\e909"
icon-home = "\e90a"
icon-orderfile = "\e922"
icon-coin-yen = "\e93e"
icon-location2 = "\e948"
icon-mobile = "\e958"
icon-user = "\e971"
icon-search = "\e986"

